Package: com.piercingimpulse.verduraios
Name: Verdura iOS
Version: 0.0.1
Architecture: iphoneos-arm
Description: Tired to watch YouTube on Safari or Google Chrome on older device? Download YouTube 10.11.11546, spoof the version on the plist file and then get VerduraiOS! For the full guide on how to use it, please visit my GitHub page :)
Maintainer: PiercingImpulse
Author: PiercingImpulse
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
