body {
    background-color: transparent;
    font-family: Roboto, Arial, 'Sans Serif', 'YT Sans';
    text-transform: uppercase;

}
.divmenu {
    font-size:medium;
    border-bottom:red 1px   outset;
    block-size:inline-block;
    margin:2px;
    
}
.divmenu:hover {
    font-weight: bold;
    color: #FAFAFA;
    border-bottom:white inset;
    background-color: red;
    margin:2px;
}
.imgmenu {
    vertical-align: middle;
}
.divinside:hover  {
    -webkit-filter: invert(100%);
    color: #FAFAFA;
}