body {
	background-color: transparent;
	font-family: Roboto, Arial, 'Sans Serif', 'YT Sans';
	text-transform: uppercase;
	color: black;
}
.divmenu {
	border-radius: 25px;
  	background: #FAFAFA;
  	padding: 20px;
  	height: 50px;
    	font-size:medium;
    	box-shadow: 0px 0px 0px 8px #CF2927;
}
.divmenu:hover {
	background: #C71B11;
    	font-weight: bold;
}
.imgmenu {
	font-weight: bold;
	color: #345666;
	background: #2C3E50 inset;
	vertical-align: middle;
}
.divinside:hover  {
	background: #C71B11;
	font-weight: bold;

}
