html {
    display: block;
    background: #303030;
}

body {
    background-color: #303030;
    font-family: Roboto, Arial, 'Sans Serif', 'YT Sans';
    color: #ffffff;
    

}
.divmenu {
    font-size:medium;
    block-size:inline-block;
    margin:2px;
    
}
.divmenu:hover {
    font-size:bold;
    border-bottom:white inset;
    color: white;
    background-color: red;
    margin:2px;
    font-weight: bold;
}
.imgmenu {
    vertical-align: middle;
}
.divinside:hover  {
    -webkit-filter: invert(100%);
    color: #000000;
    font-weight: bold;
}