/* Styles go here */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoue', sans-serif;
    line-height: 1.6em;
    font-size: 14px;
    color: #666;
    background: #e1e1e1 url(images/creampaper.png);
}

a {
    text-decoration: none;
    color: #333;
}

#container {
    max-width: 100%;
    margin-right:55%;
    background: #fff;
}

.clearfix {
    clear: both;
}

header {
    padding: 30px 20px;
    margin-bottom: 5px;
    background: #f4f4f4
}

header h1 {
    color: #000;
}

header span {
    color: #dd2826
}

section {
    padding: 30px 20px 20px 20px;
}

footer {
    padding: 30px;
    background: #f4f4f4;
    text-align: center;
}

#search-form {
    margin-bottom: 15px;
}

.field-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

#submit-btn{
    
    position: absolute;
    right: 58%;
    top: 5px;
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
    zoom: 1;
    opacity: 0.65;
    background: transparent url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-32.png") top left no-repeat;
    
}


.search-field {
    box-sizing: border-box;
    display: block;
    width: 45%;
    padding: 11px 7px;
    padding-right: 43px;
    background: #fff;
    color: #ccc;
    border: 1px solid #c8c8c8;
    font-size: 1.6em;
    border-bottom-color: #d2e2e7;
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px #f0f0f0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px #f0f0f0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px #f0f0f0;
}

#submit-btn:hover {
    filter: alpha(opacity=0);
    opacity: 0.9;
}

/*Style Results*/

#results li {
    
    padding: 10px o;
    border-bottom: 1px #ccc dotted;
    list-style: none;
    overflow: auto;
    
    
    
}

.list-left{
    
    float: left;
    width: 20%;
    
}

.list-left img{
    
    width: 100%;
    padding: 3px;
    border: solid #ccc 1px;
    
}

.list-right {
    
    float:right;
    width: 78%;
    
    
}

.ctitle {
    color: #dd2826;
    
}

.button-container {
    
    margin-top: 25px;
    
}

.paging-button {
    
    background: #f4f4f4;
    padding: 8px 13px;
    border: #ccc 1px solid;
    border-radius: 5px;
    color: #333;
    margin: 10px;
    cursor: pointer;
}